<div class="student-card">
  <div class="student-card-header">
    <h1>Teacher Name: {{Teacher}} Grade: {{Grade}}</h1>
  </div>
  {{#each students as |student|}}
  <div class="card-body">
    <p> Student Role: {{students.length}}</p> 
    <ul>{{#Students}}
      <li>{{student.id}}, {{student.firstName}} {{student.lastName}}, Number of Incidents: {{bahaviorList.length}}</li> 
  </div>
  {{/each}}
</div>


<!-- Loop over each object in the projects array -->
{{!-- {{#each student as |student| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/{{student.id}}">{{student.firstname}}, {{student.lastname}}</a>
    </h2>
    {{!-- <p>Created by {{project.username}} on {{format_date project.date_created}}</p> --}}
  {{!-- </div>
  <div class="col-md-7">
    <p>
      {{!-- {{project.description}} --}}
    {{!-- </p>
  </div>
</div>
{{/each}} --}}
