<div class="gradient-box">
    <h4>Report of Student's Behaviors</h4><br/>
<span class="teacher-label">Teacher:</span>
<h1>{{session.teacher_name }}</h1>
<span class="email-label">email: {{session.email }}</span><br/>
</div>
<br/><br/>
<h6>Students in your roster:</h6><br/>
<div class="studentContainer">
{{#each student }}
    <div class="item">
        <div class="student-card-title">50487{{student_id}} {{student_name}} {{student_grade}}</div>
    {{#each Behaviors }}
        <span class="student-card-behavior">
        <span class="student-card-date">{{format_date StudentBehavior.behavior_date}}</span> - {{behavior_name}}<br/>
        <div class="behavior-note">{{StudentBehavior.behavior_note}}</div>
        </span>
    {{/each}}
    </div>
{{/each}}
 </div>