<!-- Loop over each object in the projects array -->
{{#each Student as |student| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/student/{{student.id}}">{{student.firstName}} {{student.lastName}} {{studentBehavior_id}}</a>
    </h2>
  <p>Created by {{student.teacher_id}} on {{format_date student.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{student.behaviorNote}}
    </p>
  </div>
</div>
{{/each}}



