{{!-- enter student behavior --}}

<div class="row">
  <div class="col-auto">
    <h1>Teacher Name: {{teacherName}}</h1><h>Grade: {{grade}}</h1>
  </div>
 </div>
<div class="row mt-4">
  <div class="col-md-6">
    <div class="list-group">
    <h3>Add Student Behavior</h3>
    {{#each Student as |student| }}
    <form class="form add-student-behavior"></form>
      <label for="firstName">First Name</label>
     
      
        {{student.firstName}}
      </div>
    </div>
   </div>

{{/each}}
  
  {{#if Students.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each Students as |student|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/student/{{student.id}}">{{student.firstName}}</a></h4>
      </div>
    </div>  
    {{/each}}
      </div>
  {{/if}}









